@import url('https://fonts.googleapis.com/css2?family=Paytone+One&family=Raleway:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url(imagenes/Menu-background.jpg) ;
}

/*menú responsive*/

header {
   position: sticky;
   top: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(to bottom, #a383fb, #baa2fc );
}

/*seccion presentacion*/

 .presentation {
    width: 100%;
    display: flex;
    flex-direction: column; 
    /* max-width: 1100px; */
 }

 .dates-container {
   text-align: center;
 }

 .hello {
    font-family: 'Paytone One', sans-serif;
    color: black;
    font-size: 3rem;
    font-weight: 600;
    margin-top: 100px;
    margin-bottom: 10px;
 }

 h1 {
    font-family: 'Paytone One', sans-serif;
    color: #7b49c0;
    font-size: 4rem;
    font-weight: 800;
    margin-bottom: 15px;
 }

 .menu {
    display: none;
 }

 .presentation p {
    font-family: 'Raleway', sans-serif;
    margin-bottom: 50px;
 }

 .presentation a {
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    color: #fff;
    background-color: #7b49c0 ;
    border-radius: 50px; 
    margin: auto;
    margin-top: 30px;
    padding: 15px 50px;
    font-size: 1.2rem;
    
 }

 .presentation-img {
    width: 350px;
    height: 350px;
 }

.img-container {
    margin: auto;
    margin-bottom: 30px;
   padding-top: 30px;
}
 /*seccion knowledges*/

.knowledge {
    background-color: #fdf1ff;
    width: 100%;
    padding-bottom: 80px;
}

.description-container {
   margin-bottom: 50px;
}

.knowledge h2 {
    font-family: 'Paytone One', sans-serif;
    font-size: 2.7rem;
    padding-top: 80px;
    margin-bottom: 30px;
    text-align: center;
}

.knowledge p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 20px 90px;
}

.tools-containers {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    max-width: 1100px;
    margin: 0px 50px;
}

.tools-containers div {
   border: 1px dotted #7b49c0;
   display: grid;
   justify-content: center;
}

 .tools-containers img {
   width: 60px;
   padding-top: 50px;
   margin: auto;
 }

 .tools-containers h3 {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 50px;
   font-size: 1.2rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
 }

/* Motivational phrase */

.quotation-mark {
   display: block;
   margin: auto;
   padding-top: 50px;
}
.motivational-phrase {
   background: linear-gradient(to bottom, #a383fb, #baa2fc );
}

.motivational-phrase h3{
   text-align: center;
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   padding-bottom: 60px;
   color: #fff;
}

.motivational-phrase p {
   font-family: 'Paytone One', sans-serif;
   font-size: 1.5rem;
   text-align: center;
   margin: 20px;
   color: #fff;
}

/*Projects*/

.projects-container h2 {
   font-family: 'Paytone One', sans-serif;
   text-align: center;
   font-size: 2.7rem;
   padding-top: 80px;
   margin-bottom: 30px;
}

.projects-grid {
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    align-content: center;
    max-width: 1100px;
    margin: 60px;
}

.projects-grid div {
   border: 1px dotted #7b49c0;
   display: grid;
   justify-content: center;
}

.projects-grid div img {
   margin: auto;
   width: 60px;
   padding-top: 50px;
}

.projects-grid div h3 {
   text-align: center;
   padding-top: 15px;
   padding-bottom: 50px;
   font-size: 1.2rem;
   font-family: 'Raleway', sans-serif;
   font-weight: 800;
}

/*Contact*/

.contact-container {
   background-color: #fdf1ff;
   padding-bottom: 60px;
}

.rrss {
   padding: 60px;
}

.rrss h2 {
   font-family: 'Paytone One', sans-serif;
   font-size: 2rem;
}

.rrss p {
   font-family: 'Raleway', sans-serif;
   font-size: 1rem;
   padding: 30px 0px;
}

.rrss-icons {
   display: flex;
   flex-direction: column;
   gap: 5px;
}

.rrss-icons a {
   text-decoration: none;
   font-family: 'Raleway', sans-serif;
   font-size: 0.9rem;
   color: #7b49c0;
}

.rrss-icons img {
   width: 30px;
}

.form-container{
   padding: 0px 60px;
}

.form-container h2 {
   font-family: 'Paytone One', sans-serif;
   font-size: 2rem;
   margin-bottom: 40px;
}

.form-container div input {
   border-radius: 10px;
   background-color: #fff;
   border: solid 1px #baa2fc;
   width: 300px;
   height: 30px;
   padding-left: 10px;
}

.form-container div {
   margin-bottom: 10px;
}

.form-container div label {
   font-family: 'Raleway', sans-serif;
   color: #7b49c0;
}

.text-form {
   border-radius: 10px;
   margin: 10px 0px;
   resize: none;
   background-color: #fff;
   border: solid 1px #baa2fc;
   font-family: 'Raleway', sans-serif;
   color: #acabb0;
   width: 300px;
}


#button-send {
   width: 120px;
   height: 40px;
   border-radius: 20px;
   background-color: #7b49c0;
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-size: 0.9rem;
   margin-left: 82px;
   padding-right: 10px;
}

/* Footer*/

footer {
   background: linear-gradient(to bottom, #a383fb, #baa2fc );
}

footer p {
   color: #fff;
   font-family: 'Raleway', sans-serif;
   font-size: 0.9rem;
   text-align: center;
   padding-top: 20px;
   padding-bottom: 50px;
}

.footer-sections {
   display: none;
}

.footer-icons {
   display: flex;
   justify-content: center;
   padding-top: 20px;
}

.github{
   width: 30px;
}


 @media (min-width: 900px) {
    
    /*menú desktop*/

    header {
        width: 100%;
        height: 100px;
        background: linear-gradient(to bottom, #a383fb, #baa2fc );
    }
    
    li a {
        text-decoration: none;
        color: #fff;
    } 

    .menu {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        font-family: 'Raleway', sans-serif;
        font-size: 1.5rem;
        list-style: none;
        justify-content: flex-end;
        gap: 50px;
        align-items: center;
    }
    
     .contact-button {
        margin-right: 55px;
        padding: 12px 40px;
        background-color: #7b49c0 ;
        border-radius: 50px;
    
     }

     /*seccion presentacion*/
     .presentation-general {
         height: 100vh;
     }

     .presentation {
        display: grid;
        grid-template-columns: repeat(2 , 1fr);
        grid-gap: 10px;
        margin: auto;
        padding-top: 100px;
        max-width: 1100px;
        align-content: center;
     }

     .dates-container {
      text-align: center;
      padding-top: 50px;
     }

     .hello {
        font-family: 'Paytone One', sans-serif;
        color: black;
        font-size: 2.5rem;
        font-weight: 600;
        justify-content: center;
        margin-top: 50px;
        margin-bottom: 10px;
     }
    
     h1 {
        font-family: 'Paytone One', sans-serif;
        color: #7b49c0;
        font-size: 3.5rem;
        font-weight: 800;
        justify-content: center;
        margin-bottom: 15px;
     }

     .presentation p {
        font-family: 'Raleway', sans-serif;
        justify-content: center;
        margin-bottom: 50px;
        font-size: 1rem;
     }

    .presentation a {
        font-family: 'Raleway', sans-serif;
        text-decoration: none;
        color: #fff;
        background-color: #7b49c0;
        border-radius: 50px;
        width: 180px;
        height: 50px;
        padding-top: 15px;
        font-size: 1rem; 
     }
     
     .img-container {
        display: grid;
        justify-content: start;
        /*padding-top: 40px;*/
     }

     .presentation-img {
        width: 400px;
        height: 400px;
     }

     /*Knowledges*/

     .tools-containers {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      margin: auto;
      justify-content: center;
      align-content: center;
      max-width: 800px;
     }

      /*projects*/

      .projects-grid {
         display: grid;
         grid-template-columns: repeat(3, 1fr);
         justify-content: center;
         align-content: center;
         max-width: 800px;
         margin: auto;
         padding-top: 30px;
         padding-bottom: 90px;
      }
     
   /*contact*/

      .contact {
         background-color: #fdf1ff;
      }
      .contact-container {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         max-width: 1100px;
         margin: auto;
      }
      
      .contact-container div h2 {
         font-family: 'Paytone One', sans-serif;
         font-size: 2rem;
      }
      
      .contact-container p {
         font-family: 'Raleway', sans-serif;
         font-size: 0.8rem;
      }

      .rrss-icons {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         gap: 5px;
      }

      .form-container {
         display: grid;
         justify-content: center;
         padding: 60px;
         }

      .text-form {
         border-radius: 10px;
         resize: none;
         background-color: #fff;
         border: solid 1px #baa2fc;
         font-family: 'Raleway', sans-serif;
         color: #acabb0;
         width: 300px;
         padding: 10px;
      }

      .form-text {
         display: flex;
      flex-direction: column;
      align-items: flex-end;
      }

      /*footer*/

      .footer-sections {
         display: flex;
         justify-content: center;
         padding-top: 50px;
         padding-bottom: 20px;
         font-family: 'Raleway', sans-serif;
      }

      .footer-sections li {
         list-style: none;
         margin: 0px 20px;
         font-size: 0.8rem;
      }
   }